


/**
* We don't need this
*/

.row-header {
	padding: 40px 120px;
}
.row-body {
	padding: 40px 120px;
}
.row-footer {
	padding: 40px 120px;
}











/**
* Generic styles
*/

body {
	color: #333;
	background-color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Segoe WP", "Arial", sans-serif;
	line-height: 1.6;
	font-weight: 500;
	font-size: 1.1em;
}

/*Adjust overall content area width*/
.row-content {
	max-width: 55em;
}

.inverted {
	color: #fff;
	background-color: #333;
}



/*For testing and debugging*/

.red {
	background-color: #ec008c;
}

.blue {
	background-color: #00aeef;
}

.green {
	background-color: #00a651;
}

.dark {
	background-color: #333;
}



/*Typography*/

h1 {
	font-size: 3em;
}

a {
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
	-webkit-transition-duration: all;
	-moz-transition-duration: all;
	-o-transition-duration: all;
	transition-duration: all;
}

a, a:visited {
	top: 0;
	position: relative;
	color: #00aeef;
}

	a:hover {
		text-decoration: none;
	}

	a:active {
		top: 0.15em;
	}

.discreet {
	color: #808080;
}



/**
* Content-specific styles
*/

/*Header*/
/*
.row-header ul a {
	display: block;
	text-decoration: none;
	padding: 0.4em 0.8em;
}
	.row-header ul li:first-of-type {
		margin-left: -0.8em;
	}
	.row-header ul li:first-of-type a {
		color: #808080;
	}
	.row-header ul a:hover, .row-header ul li:first-of-type a {
		color: #333;
	}
*/


/*Cases*/

.case-inversion {
	color: #fff;
	background-color: #00aeef;
}
	.case-inversion a, .case-inversion .discreet {
		color: #333;
	}

.case-servant {
	color: #333;
	background-color: #eee;
}
	.case-servant a {
		color: #00a651;
	}



/*Contact*/

.row-contact h2 {
	color: #ccc;
}

	.row-contact .careers h2 {
		color: #ec008c;
	}
