/*
Layers CSS 1.0.4  responsive adjustments
Released by Jerry Jäppinen under the MIT license
http://eiskis.net/layers
2013-12-10 09:53 Europe/Berlin
*/


/*Collapse fluid columns*/
@media handheld, only screen and (max-width: 40em) {
	.column.one,
	.column.two,
	.column.sixth,
	.column.three,
	.column.fourth,
	.column.four,
	.column.twosixths,
	.column.third,
	.column.five,
	.column.six,
	.column.half,
	.column.threesixths,
	.column.twofourths,
	.column.seven,
	.column.eight,
	.column.foursixths,
	.column.twothirds,
	.column.nine,
	.column.threefourths,
	.column.ten,
	.column.fivesixths,
	.column.eleven {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

/*Smaller font size*/
@media handheld, only screen and (max-width: 40em) {

	body {
		font-size: 0.9em;
		-webkit-text-size-adjust: none;
	}

}
